# Database Engineering

In [17]:
# Import Dependencies
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
# Import method used for connecting to DBs
from sqlalchemy import create_engine, MetaData
# Import method needed to construct classes into tables
from sqlalchemy.ext.declarative import declarative_base
# Import method needed to declare column types
from sqlalchemy import Column, Integer, String, Float, Text, Table

In [18]:
# Read 'clean_hawaii_measurements.csv' as dataframe
measurements_csv = "resources/clean_hawaii_measurements.csv"
hi_measurements = pd.read_csv(measurements_csv, dtype = object)
hi_measurements.head()

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02   0.0   63
2  USC00519397  2010-01-03   0.0   74
3  USC00519397  2010-01-04   0.0   76
4  USC00519397  2010-01-07  0.06   70

In [19]:
# Read 'clean_hawaii_stations.csv' as dataframe
stations_csv= "resources/clean_hawaii_stations.csv"
hi_stations = pd.read_csv(stations_csv, dtype = object)
hi_stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [20]:
# Create an engine to a database file called 'hawaii.sqlite'
engine = create_engine("sqlite:///hawaii.sqlite")

In [21]:
# Create connection to the engine
# Use declarative_base to create ORM classes for each table
conn = engine.connect()
Base = declarative_base()

In [22]:
# Make class for hi_measurement and for hi_station

class Measurements(Base):
    __tablename__ = "measurements"
    id = Column(Integer, primary_key = True)
    station = Column(Text)
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Float)

class Stations(Base):
    __tablename__ = "stations"
    id = Column(Integer, primary_key = True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [23]:
# Use create_all to create measurements and stations table into database
Base.metadata.create_all(engine)

In [24]:
# Create a list of dictionaries from 'hi_measurments' df
measurements_data = hi_measurements.to_dict(orient="records")
print(measurements_data[:5])

[{'station': 'USC00519397', 'date': '2010-01-01', 'prcp': '0.08', 'tobs': '65'}, {'station': 'USC00519397', 'date': '2010-01-02', 'prcp': '0.0', 'tobs': '63'}, {'station': 'USC00519397', 'date': '2010-01-03', 'prcp': '0.0', 'tobs': '74'}, {'station': 'USC00519397', 'date': '2010-01-04', 'prcp': '0.0', 'tobs': '76'}, {'station': 'USC00519397', 'date': '2010-01-07', 'prcp': '0.06', 'tobs': '70'}]

In [25]:
# Create a list of dictionaries from 'hi_stations' df
stations_data = hi_stations.to_dict(orient="records")
print(stations_data[:5])

[{'station': 'USC00519397', 'name': 'WAIKIKI 717.2, HI US', 'latitude': '21.2716', 'longitude': '-157.8168', 'elevation': '3.0'}, {'station': 'USC00513117', 'name': 'KANEOHE 838.1, HI US', 'latitude': '21.4234', 'longitude': '-157.8015', 'elevation': '14.6'}, {'station': 'USC00514830', 'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'latitude': '21.5213', 'longitude': '-157.8374', 'elevation': '7.0'}, {'station': 'USC00517948', 'name': 'PEARL CITY, HI US', 'latitude': '21.3934', 'longitude': '-157.9751', 'elevation': '11.9'}, {'station': 'USC00518838', 'name': 'UPPER WAHIAWA 874.3, HI US', 'latitude': '21.4992', 'longitude': '-158.0111', 'elevation': '306.6'}]

In [26]:
# Use Metadata from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [27]:
# Save references to the measurements and stations tables
measurements_table = Table('measurements', metadata, autoload = True)
stations_table = Table('stations', metadata, autoload = True)

In [28]:
# Use .delete() to delete any pre-existing data
conn.execute(measurements_table.delete())
conn.execute(stations_table.delete())

In [29]:
# Use table.insert() to insert 'measurements_data' and 'stations_data' into tables
conn.execute(measurements_table.insert(), measurements_data)
conn.execute(stations_table.insert(), stations_data)

In [30]:
# Test that the insert works by fetching the first 5 rows in measurements table
conn.execute("select * from measurements limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-07', 0.06, 70.0)]

In [31]:
# Test that insert works by fetching the first 5 rows in stations table
conn.execute("select * from stations limit 5").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]